<!DOCTYPE html>
<html ng-app="myApp">
<head>
    {{>headpart}}
    <title>{{project.name}}</title>
</head>
<body>
    <div id="wrapper">
        {{>projectnav}}

        <div id="content" class="">
            <div id="left-column" class="scroll-area col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <ul class="list-group">
                    <li class="list-group-item col-md-3 col-xs-3">Ukupno</li>
                    <li class="list-group-item col-md-3 col-xs-3">$$$</li>
                    <li class="list-group-item col-md-3 col-xs-3">Nepovezani budžet</li>
                    <li class="list-group-item col-md-3 col-xs-3">$$$</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item col-md-6 col-xs-6">Preostali iznos</li>
                    <li class="list-group-item col-md-6 col-xs-6">$$$</li>
                </ul>

                <table class="table table-hover" ng-controller="showProjectGroup">
                    <thead class="project-head">
                        <tr>
                            <th>#</th>
                            <th>Naziv</th>
                            <th>Budžet</th>
                            <th>Troškovi</th>
                            <th>Preostali iznos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="groupName in projectGroup">
                            <th scope="row">{{$index}}.</th>
                            <td>{{groupName}}</td>
                            <td>{{budget}}</td>
                            <td>{{costs}}</td>
                            <td>{{remainingAmount}}</td>
                        </tr>
                        <tr ng-repeat-end="" ng-if="">
                            <th scope="row">{{date}}</th>
                            <td>{{partner}}</td>
                            <td>{{description}}</td>
                            <td>{{amount}}</td>
                        </tr>
                        <tr>
                            <th scope="row">2.</th>
                            <td>Ljudski resursi</td>
                            <td>50000,00</td>
                            <td>0</td>
                            <td>50000,00</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div id="right-column" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

            </div>
        </div>

        <div id="footer" class="col-md-12 col-xs-12">
            <footer>
                <button type="button" class="btn btn-primary btn-sm footer-button" id="submit">Uredi</button>
            </footer>
        </div>
    </div>
</body>
</html>